/* @import url(../font/Sahel-Bold.eot); */
:root{
  --color-1:blue;
  --clr-neon: hsl(224 100% 54%);
  --clr-bg: rgba(0, 0, 255, 0.2);
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  font-family: 'Lateef', cursive;
  font-size: 1.4rem;
  color:#222;
  direction: rtl;
}
li{list-style: none;}
a{text-decoration: none;}
.color-1{color:var(--color-1);}

.container{
  width:80%;
}

.neon-btn{
  margin:0 auto;
}
.neon-btn a{
    
  font-size:2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border:var(--clr-neon) .025em solid;
  width:200px;
  height: 60px;
  color:var(--clr-neon);
  border-radius: .25em;
  text-shadow: 0 0 0.25em hsl(0 0% 100% /.25 ), 0 0 .245em var(--clr-neon) ;
  box-shadow: 0 0 0.25em 0 var(--clr-neon), inset 0 0 .25em 0 var(--clr-neon);
  position: relative;
  background-color: var(--clr-bg);
  text-align: center;
}

.neon-btn a::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  box-shadow:  0 0 1.5em 2em var(--clr-neon);
  opacity: 0;
  border-radius: 40%;
  background-color: var(--clr-neon);
  transition: opacity 50ms ease-out;
  /* z-index: -1; */
}
.neon-btn a:hover:after{
  opacity: .25;
}


.neon-btn a:focus,
.neon-btn a:hover{

  text-shadow: none;
}



/* Navbar */
nav{
  position: sticky;
  top:0;
  width:100%;
  height: 5rem;
  background:linear-gradient(to right ,#050505,#333 ,#333 );
  z-index: 2;
}
nav ul{
  width:50%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

nav ul li{
  font-size: 1.5rem;
  color:white;
  width:150px;
  height:4rem;
  margin-top:.5rem;
  transition: background-color 100ms linear;
  pointer-events: painted ;
}
nav ul li:hover{
  background-color: var(--color-1);
  border-radius: 4px;
  color:#333;
}
nav ul li a{
  color:inherit;
  display: inline-block;
  width:100%;
  height:100%;
  padding:1rem;

  /* background-color: coral; */
}
.logo{
  font-size: 2.2rem;
  margin-top:-.25rem;
  letter-spacing: -4px;
  font-family: 'Alfa Slab One', cursive;
  pointer-events: none;
  padding:1rem;

}

/* Home */
#home{
  width:100%;
  height: calc(100vh - 5rem);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin:0 auto;  
  margin-bottom: 4rem;
  padding:1rem 4rem;
  background-color: #ddd;
  border-radius: 20px;
  
  /* min-height: 100vh; */
  /* border:1px solid green; */
}
.container > h1,
.container > h2{
  align-self: flex-start;
  margin:1.5rem 0;  
  font-weight: bold;  
}
.container p {
  margin-bottom: 1.5rem ;
}


/* Tutorial */
.tutorial{
  font-size: 130%;
}

.arnd{
  direction: ltr;
  background-color: rgb(255, 255, 115);
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding:0 8px;
  border-radius: 8px;
  letter-spacing: 2px;
}
h2 .arnd{
  font-size: 25px;
}

.image{
  width:100%;
  display: block;
  margin:0 auto;
  margin-bottom: .5rem;
  /* border:1px solid #333; */
  box-shadow: 0 0 1rem var(--color-1);
  border-radius: 10px;
  /* height: 390px; */
}
.cntr{
  margin:0 auto;
}
/* Exercise */

#exercise {
  direction: ltr;
  width:100vw;
  height: calc(100vh - 5rem);
}
#exercise .container{
  width: 100%;
  height: 100%;
  max-width: unset;
  padding-top:0;
}
.secnd-nav{
  background-color:var(--color-1);
  width:100%;
  border-radius: 10px 10px 2px 2px;
  padding:1rem;
  height: 4rem;
  font-size: 1.7rem;
  font-weight:600;
  letter-spacing: 1px;
  color:#ccc ;
  margin-top:1rem;
}
#Expression-box{
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding:1rem;
  border:2px solid var(--color-1);
  letter-spacing: 2px;
  color:#333;
  background-color: inherit;
}
#test-text{
  width: 100%;
  height:100%;
  resize: none;
  border:2px solid var(--color-1);
  padding:1rem;
  border-top-color: transparent;
  font-size: 2.2rem;
  border-radius:2px 2px 10px 10px ;
  font-family: Times, serif;
  color:#222;
}
#Expression-box:focus,
#test-text:focus{
  border: 2px solid var(--color-1);
  box-shadow: 0 0 10px 1px var(--color-1);
  /* z-index: -1; */
  outline: solid 2px transparent;
  border-radius:8px;
}
#exercise{
  overflow-y: hidden;
  overflow-x: hidden;

}

.highlight{
  background-color: rgba(115, 180, 255, 0.671);
  /* font-size: 22px; */
  /* font-weight: bold; */
  display: inline-block;
  padding:0;
  border-radius: 8px;
  /* letter-spacing: 0px; */
}